<nav class="navbar navbar-expand-lg" style="background: #011931;">
  <a class="navbar-brand" href="javascript:null">
    <mat-icon svgIcon="omega" style="padding-right: 5px"></mat-icon>Model Based Web Application Prototype
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="!showOnlyTitle" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:null" (click)="navigationService.NavigateToDashBoard()">Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:null" (click)="navigationService.NavigateToNotImplemented()">Progress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:null" (click)="navigationService.NavigateToUserPlans()">My plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:null" (click)="navigationService.NavigateToPublicPlans()">Public plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:null" (click)="navigationService.NavigateToNotImplemented()">Forums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:null" (click)="navigationService.NavigateToNotImplemented()">News feed</a>
      </li>
    </ul>
    <div class="navbar-nav justify-content-end">
      <div class="dropdown dropleft">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          <mat-icon svgIcon="user-default"></mat-icon>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <h6 class="dropdown-header">Welcome: {{user.userName}}</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:null" (click)="navigationService.NavigateToNotImplemented()">
            Settings
          </a>
          <a class="dropdown-item" href="javascript:null" (click)="Logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
