<div class="card p-4">
  <div class="card-body row">
    <div class="col-8">
      <h1>{{plan.name}}</h1>
      <span>{{plan.description}}</span>
    </div>
    <div class="col-2" *ngIf="showButton || isUserPlan">
      <div class="row d-flex align-items-center justify-content-center" style="padding-bottom: 2px; padding-top: 2px;" *ngIf="showButton">
        <button type="submit" class="btn btn-primary px-4" style="width: 280px; background: #6c757d; border-color: #6c757d" (click)="Click()">Compare plan</button>
      </div>
    </div>
    <div class="col-2" *ngIf="showButton || isUserPlan">
      <div class="row d-flex align-items-center justify-content-center" style="padding-bottom: 2px; padding-top: 2px;" *ngIf="showButton">
        <button type="submit" class="btn btn-primary px-4" style="width: 150px; background: #6c757d; border-color: #6c757d" (click)="Click()">Choose plan</button>
      </div>
      <div class="row d-flex align-items-center justify-content-center" style="padding-bottom: 2px; padding-top: 2px;" *ngIf="isUserPlan">
        <button type="submit" class="btn btn-primary px-4" style="width: 150px; background: #6c757d; border-color: #6c757d" (click)="Click()">Edit plan</button>
      </div>
      <div class="row d-flex align-items-center justify-content-center" style="padding-bottom: 2px; padding-top: 2px;" *ngIf="isUserPlan">
        <button type="submit" class="btn btn-primary px-4" style="width: 150px; background: #6c757d; border-color: #6c757d" (click)="Click()">Delete plan</button>
      </div>
    </div>
  </div>
</div>
