<div class="card-group">
  <div class="card p-4">
    <div class="card-body">
      <h1 style="text-align:center">Plan Creation</h1>
      <form name="form" (ngSubmit)="CreatePlan()" #f="ngForm">
        <div class="card-group">
          <div class="card">
            <div class="card-header"> Step 1: Choose plan details</div>
            <div class="card-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user">Plan name</i></span>
                </div>
                <input type="text" name="PlanName" [(ngModel)]="plan.name" class="form-control sty1"
                       placeholder="Super good plan..." required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock">Plan Description</i></span>
                </div>
                <input type="text" name="PlanDescription" [(ngModel)]="plan.description" class="form-control"
                       placeholder="This is a...">
              </div>
              <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="defaultCheck1"
                       name="acceccibility"
                       [(ngModel)]="plan.acceccibleToPublic">
                <label class="form-check-label" for="defaultCheck1">
                  Make public
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card">
            <div class="card-header"> Step 2: Create a daily plan</div>
            <div class="card-body">
              <div class="card" *ngFor="let section of plan.planSectionList">
                <div class="card-header">
                  {{section.sectionName}}
                </div>
                <div class="card-body" style="padding: 0px">
                  <mat-tab-group>
                    <mat-tab label="{{day.day}}" *ngFor="let day of section.planDayList">
                      <div class="card-body">
                        <div *ngFor="let dayTimeFrame of day.dayTimeFrameList">
                          <div class="card">
                            <div class="card-header" style="background-color: dimgray;">
                              <div class="row">
                                <div class="col-10">
                                  {{dayTimeFrame.dayTimeFrameName}}
                                </div>
                                <div class="col text-right">
                                  <button type="button"
                                          class="btn btn-dark"
                                          data-toggle="modal"
                                          data-target="#exampleModal"
                                          style="background: #6c757d">
                                    Add element
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="list-group list-group-flush">
                              <div class="row list-group-item fix-margin"
                                   style="display: flex; margin-right: 0px!important; margin-left: 0px!important;"
                                   *ngFor="let planElement of dayTimeFrame.planElementList"
                                   [ngClass]="planElement.userValidated ? 'list-group-item valid' : 'list-group-item'">
                                <div class="col-2">{{planElement.elementName}}</div>
                                <div class="col-2">
                                  <div *ngIf="planElement.elementType === 'Food'">
                                    amt: {{planElement.amount}}
                                  </div>
                                  <div *ngIf="planElement.elementType === 'Training'">
                                    length: {{planElement.amount}}h
                                  </div>
                                </div>
                                <div class="col-2">
                                  Nutrient info...
                                </div>
                                <div class="col text-right">
                                  <mat-icon class="icon" svgIcon="menu"></mat-icon>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" d-flex justify-content-center" style="padding-top: 20px">
          <button type="submit" class="btn btn-dark">Create Plan</button>
        </div>
      </form>
    </div>
  </div>

  <!--  Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Element</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>
