<div class="row" *ngIf="loaded">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row" *ngIf="!isSearch">
          <div class="col-8">
            <h2 style="padding-left: 10px">My plans</h2>
          </div>
          <div class="col text-right fix-margin">
            <button type="button" class="btn btn-secondary" style="width: 200px" (click)="GoToPlanCreation()">Create a
              plan
            </button>
          </div>
        </div>
        <div class="row" *ngIf="isSearch">
          <div class="col">
            <h2 style="padding-left: 10px">Public plans</h2>
          </div>
          <div class="col-4">
            <div class="row fix-margin">
              <input class="form-control mr-sm-2 col-7" style="height: auto" type="search" placeholder="Search"
                     aria-label="Search">
              <button class="btn btn-outline-info mr-sm-2 col" type="submit">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"
         style="margin-left: -5px!important; margin-right: -5px!important; padding-top: 20px"
         *ngIf="userPlans.length">
      <app-plan-card class="card-group col-6"
                     style="padding: 5px"
                     [plan]="plan"
                     (click)="navigationService.NavigateToPlanDetails(plan.id)"
                     *ngFor="let plan of userPlans">
      </app-plan-card>
    </div>
    <div class="d-flex justify-content-center" *ngIf="!userPlans.length">
      <h2 style="padding-top: 60px">
        You have not created any plans yet!
      </h2>
    </div>
  </div>
</div>
