<div *ngIf="day.dayTimeFrameList.length">
  <div *ngFor="let dayTimeFrame of day.dayTimeFrameList">
    <div class="card">
      <div class="card-header" style="background-color: #011931; color: lightgray">
        <div class="row">
          <div class="col-10">
            {{dayTimeFrame.dayTimeFrameName}}
          </div>
          <div class="col text-right">
            <button class="btn btn-dark" style="background: #6c757d">Add element</button>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush">
        <div class="row list-group-item fix-margin"
             style="display: flex; margin-right: 0px!important; margin-left: 0px!important;"
             *ngFor="let planElement of dayTimeFrame.planElementList"
             [ngClass]="planElement.userValidated ? 'list-group-item valid' : 'list-group-item'">
          <div class="col-2">{{planElement.elementName}}</div>
          <div class="col-2">
            <div *ngIf="planElement.elementType === 'Food'">
              amt: {{planElement.amount}}
            </div>
            <div *ngIf="planElement.elementType === 'Training'">
              length: {{planElement.amount}}h
            </div>
          </div>
          <div class="col-2">
            Nutrient info...
          </div>
          <div class="col text-right">
            <mat-icon class="icon" svgIcon="checkmark" (click)="planElement.userValidated=true"></mat-icon>
            <mat-icon class="icon" svgIcon="cross"
                      (click)="RemoveElement(planElement.elementId, dayTimeFrame.dayTimeFrameId)"></mat-icon>
            <mat-icon class="icon" svgIcon="menu"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
