<div style="margin-left: -15px; margin-right: -15px" *ngIf="loaded">
  <app-plan-card [showButton]="true"
                 [isUserPlan]="isUserPlan"
                 [plan]="plan"
                 (buttonClick)="ChoosePlan()">
  </app-plan-card>
  <div class="card" *ngFor="let section of plan.planSectionList">
    <div class="card-header">
      {{section.sectionName}}
    </div>
    <div class="card-body" style="padding: 0px">
      <mat-tab-group>
        <mat-tab label="{{day.day}}" *ngFor="let day of section.planDayList">
          <div class="card-body">
            <div *ngFor="let dayTimeFrame of day.dayTimeFrameList">
              <div class="card">
                <div class="card-header" style="background-color: dimgray;">
                  {{dayTimeFrame.dayTimeFrameName}}
                </div>
                <div class="list-group list-group-flush">
                  <div class="row list-group-item fix-margin"
                       style="display: flex; margin-right: 0px!important; margin-left: 0px!important;"
                       *ngFor="let planElement of dayTimeFrame.planElementList"
                       [ngClass]="planElement.userValidated ? 'list-group-item valid' : 'list-group-item'">
                    <div class="col-2">{{planElement.elementName}}</div>
                    <div class="col-2">
                      <div *ngIf="planElement.elementType === 'Food'">
                        amt: {{planElement.amount}}
                      </div>
                      <div *ngIf="planElement.elementType === 'Training'">
                        length: {{planElement.amount}}h
                      </div>
                    </div>
                    <div class="col-2">
                      Nutrient info...
                    </div>
                    <div class="col text-right">
                      <mat-icon class="icon" svgIcon="menu"></mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
