<div>
  <app-navigation-bar [showOnlyTitle]="!activeUser"
                      [user]="activeUser"
                      (logout)="updateUser(null)">
  </app-navigation-bar>
  <app-login (onLogin)="updateUser($event)" *ngIf="!activeUser"></app-login>
  <div class="container mx-auto"
       style="background: white; height: 100vh;"
       *ngIf="activeUser">
    <router-outlet></router-outlet>
  </div>
</div>


