/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.row {
  margin-left: -30px!important;
  margin-right: -30px!important;
}

.card {
  border-radius: 0!important;
}

.card-header:first-child {
  border-radius: 0!important;
}

.fix-margin {
  margin-left: 15px!important;
  margin-right: 15px!important;
}
