<div *ngIf="loaded" style="padding-top: 40px">

  <div *ngIf="!activePlan" style="margin-top: 20vh">
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <strong>Hey! </strong> You are currently not following any plans..
      </div>
      <div class="card-body d-flex justify-content-center">
        <button type="button" style="margin: 20px" class="btn btn-secondary col-4" (click)="GoToMyPlans()">Choose a plan
          from my plans
        </button>
        <button type="button" style="margin: 20px" class="btn btn-secondary col-4" (click)="GoToPublicPlans()">Find a
          plan
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="activePlan">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <div>
              <h3>Daily statistics</h3>
              <div class="row fix-margin">
                <span class="col-4">Calories goal:</span>
                <span class="col">1528</span>
              </div>
              <div class="row fix-margin">
                <span class="col-4">Calories obtained:</span>
                <span class="col">1678</span>
              </div>
              <div class="row fix-margin">
                <span class="col-4">Calories burnt:</span>
                <span class="col">330</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-plan-card [plan]="activePlan" class="col-4"></app-plan-card>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-12 mx-auto">
        <div class="card">
          <div class="card-header">
            {{GetCurrentDay()}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <app-diary [day]="GetDayPlan()" class="col-12 mx-auto"></app-diary>
    </div>
  </div>

</div>

